#
# Buildout to create PyVE community documentation
#
[buildout]
newest = false

#index = http://pypi.cenditel/
find-links =
    http://b.pypi.python.org
    http://c.pypi.python.org
    http://d.pypi.python.org

versions = versions

extensions =
    mr.developer
    buildout.dumppickedversions

# mr.developer configurations
# For options see http://pypi.python.org/pypi/mr.developer
sources-dir = src
sources = sources
always-checkout = true
auto-checkout = *

# buildout.dumppickedversions configurations
# For options see http://pypi.python.org/pypi/buildout.dumppickedversions
allow-picked-versions = true
dump-picked-versions-file = picked.cfg
overwrite-picked-versions-file = True

extends = 
    sphinx.cfg
