#
# A Buildout configuration for install Sphinx tools and
#
[buildout]
parts = 
    sphinx

[versions]
collective.recipe.sphinxbuilder = 0.7.0
Sphinx = 1.0.4
Docutils = 0.6

# This recipe helps to generate and build Sphinx-based documentation in the buildout.
# For options see http://pypi.python.org/pypi/collective.recipe.sphinxbuilder
[sphinx]
recipe = collective.recipe.sphinxbuilder
#doc-directory = .
outputs = html
source = ${buildout:directory}/source
build = ${buildout:directory}/build
eggs =
  Sphinx
  Docutils
  roman
  Pygments

[sources]
#plone-spanish-documentations = git git@github.com:macagua/plone-spanish-documentations.git
